<div class="row">
	<div class="col-sm-2">
		<div class="sidebar-nav">
      <strong>Games</strong>
      <ul class="list-group">
        <li class="list-group-item">{{#link-to 'sheep'}}Sheep{{/link-to}}</li>
        <li class="list-group-item">SHEEEP</li>
      </ul>
	  </div>
	</div>
</div>